<%= render partial: 'common/header', locals: {sub_title: '新朋友', breadcrumb: '编辑', new_path: nil} %>

<div class="row">
  <div class="col-lg-12">

    <%= render 'form' %>

  </div>
</div><!-- /.row -->