<%= render partial: 'common/header', locals: {sub_title: '用户组：'+ @group.name, breadcrumb: @group.name + '成员', new_path: nil} %>

<div class="row">
  <div class="col-lg-12">
    <p>点击下面的文本框会选中<%= @group.name %>所有邮件地址，可以复制后直接输入到 Gmail 的 <span class="red">密送地址栏(Bcc,Blind carbon copy)</span>，不要直接输入收件人地址栏或抄送地址栏，以免暴露邮件列表。收件人可以写自己的 Email 或者 CAachen@gmail.com</p>
    <p><textarea rows="2" onclick="this.focus();this.select()" readonly style="width:100%" ><%=@emails%></textarea></p>
    <%= render 'common/contacts_table' %>

  </div>
</div><!-- /.row -->



