<%= render partial: 'common/header', locals: {sub_title: '用户组：'+ @group.name, breadcrumb: @group.name + '成员', new_path: nil} %>

<div class="row">
  <div class="col-lg-12">

    <p><h1><%= @group.name %></h1>  <%= @group.description %></p>

    <%= render 'common/contacts_table' %>

  </div>
</div><!-- /.row -->



