<%= render partial: 'common/header', locals: {sub_title: '聚会', breadcrumb: '添加', new_path: nil} %>

<div class="row">
  <div class="col-lg-12">

    <%= render 'form' %>

  </div>
</div><!-- /.row -->
