<%= render partial: 'common/header', locals: {sub_title: '欢迎', breadcrumb: '欢迎', new_path: nil} %>

<div class="row">
  <div class="col-lg-12">

    <p>欢迎来到亚琛华人基督徒团契内务管理版块</p>

  </div>
</div><!-- /.row -->