<div class="row">
  <div class="col-lg-12">
    <h1><%=homepage_name %> <small>欢迎</small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> 主页</a></li>
      <li class="active"><i class="fa fa-table"></i> 欢迎</li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">

    <p>欢迎来到亚琛团契联系人管理程序</p>
    <p>如果您想要查看并编辑联系人，请联系骏翔弟兄！</p>
    <p> </p>
    <p>ToDo</p>
    <p>分页</p>
    <p>可以查看3小时内的新朋友</p>
    <p>关系</p>
    <p>Mini论坛</p>
    <p>事奉安排</p>
    <p>email unique</p>
    <p>出席</p>



  </div>
</div><!-- /.row -->