<%= render partial: 'common/header', locals: {sub_title: '欢迎', breadcrumb: '欢迎', new_path: nil} %>

<div class="row">
  <div class="col-lg-12">

    <h3 style="text-align: center;margin-top: 0;">欢迎来到亚琛华人基督徒团契内务管理版块</h3>
    <% if can? :read, Friend %>
    <ol>
    <li>如何添加一个联系人：</li>

    a. 如果想把老通讯录的联系人信息转移到本系统，点击‘联系人列表’页面标题右侧的绿色‘添加’按钮。注意填写的时候在‘审核’那行打钩。<br>

    b. 如果是以后聚会中的新朋友，可以邀请他们直接填写‘欢迎新朋友’页面（需要用接待组的同工的手机和账号登录）。聚会结束后，
       请负责的同工在联系人列表里审核新朋友的信息，补充新朋友未添加的信息，添加备注，将其加入到相应的小组（比如说周报组，福音朋友组等）。
       注意审核结束后在‘审核’那行打钩。如果以后这位新朋友决志或受洗，那么需要更新该联系人的资料。 <br><br>

    <li>如何查看一个联系人的详细资料：</li>
    在‘联系人列表’页面点击联系人的名字会可以查看该联系人的详细资料。<br><br>

    <li>如何更新一个联系人的详细资料：</li>
    在‘联系人列表’页面最后一列有编辑按钮，点击后可以更新该联系人的详细资料。<br><br>

    <li>为什么有些联系人背景为红色？</li>
    未经过审核的联系人背景为红色，比如说通过‘欢迎新朋友’页面添加的联系人。<br>

    <li>如何填写服事值日表</li>
    a. 进入‘服事值日表’页面<br>
    b. 如果已经存在该周的服事安排，那么点击日期就可以进入编辑页面。如果还不存在该周的服事安排，那么点击页面标题右侧绿色的“添加”按钮可以添加新的一周服事安排。<br>
    c. 点击日期进入该周的编辑页面之后，点击相应行左侧的‘添加’，即可填写或编辑。<br><br>

    如果有需要添加新的服事项目，比如说新开了一组姐妹会，请联系管理员，管理员可以很简单地在后台添加。<br> <br>

    <li>如何获取服事值日表以便写周报</li>
    在‘服事值日表’页面‘按日期查找’那里输入日期，点击查找，下方会出现一个文本框，如果大家已经填好，那么直接copy内容到gmail即可，务必检查内容是否齐全和正确，并在有需要的地方修改格式。<br><br>

    <li>如何获取群发邮件列表</li>
    在‘小组列表’页面，点击小组名称，比如说‘周报组’，就出现该组成员的列表，最上方就是邮件列表，复制到邮箱里发邮件即可。周报组同工，弟兄姐妹会负责人，和祷告会同工可以通过这个功能获取邮件列表，发送群体邮件。<br><br>

    <li>如何获取每月寿星的名单</li>
    在‘联系人列表’页面中，利用生日月份搜索功能。
    </ol>
    <% end %>
  </div>
</div><!-- /.row -->