<p>亲爱的<%= @resource.name.nil? ? @resource.email : @resource.name %>你好!</p>

<p>忘记密码了？没有关系，请点击<%= link_to '这个链接', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>重设你的密码。</p>

<p>如果你没有申请重设密码，那请忽略这封邮件，你的密码将保持不变。</p>

<p>亚琛华人基督徒团契</p>
